VITE_OPENWEATHER_API_KEY=
VITE_DIRECT_LOCATION=http://api.openweathermap.org/geo/1.0/direct
VITE_REVERSE_LOCATION=http://api.openweathermap.org/geo/1.0/reverse
VITE_COUNTRIES_ALPHA=https://restcountries.com/v3.1/alpha
VITE_CURRENT_WEATHER=https://api.openweathermap.org/data/2.5/weather
VITE_FORECAST_WEATHER=https://api.openweathermap.org/data/2.5/forecast
VITE_GOOGLE_CLIENT_ID=
VITE_GOOGLE_CLIENT_SECRET=
VITE_LIFF_APP_ID=